@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Mono&display=swap');

body{
    background-color: white;
    color: #222;
    font-family: 'Merriweather', serif;
    margin: 0;
    width: 100%;
    padding-bottom: 3em;
    line-height: 1.8em;
}

h1{
    font-size: 1cm;
    line-height: 1.2em;
}

header em{
    font-size: 0.45cm;
}

button{
    color: #07F;
    background-color: white;
    border: 1px solid #07F;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin: 1em;
}

button:hover{
    color: white;
    background-color: #07F;
    box-shadow: 2px 2px 8px 0.1em rgba(30, 30, 30, 0.2);
}

button.big{
    padding: 2em;
    font-size: 150%;
}

div{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    color: #07F;
}

header{
    display:block;
    text-align: center;
    background-color: rgb(30, 30, 30);
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    width: 100%;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

header h1{
    cursor: default;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #222;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 90%;
}

a{
    color: #07F;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover{
    text-decoration: underline;
}

.container{
    margin: 30px;
    text-align: center;
    font-size: 0.5cm;
}

@media screen and (min-width: 720px){
    .container{
        margin-right: 104px;
        margin-left: 104px;
    }
}

@media screen and (min-width: 1080px){
    .container{
        margin-right: 200px;
        margin-left: 200px;
    }
}
@media screen and (min-width: 1440px){
    .container{
        margin-right: 295px;
        margin-left: 295px;
    }
}

@media screen and (min-width: 1920px){
    .container{
        margin-right: 384px;
        margin-left: 384px;
    }
}


/**
Table layout stuff
**/
table{
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    box-shadow: 2px 2px 8px 0px rgba(30, 30, 30, 0.2);
    text-align: center;
    vertical-align: middle;
}

thead img{
    max-width: 2em;
    max-height: 2em;
    display: inline-block;
    vertical-align: middle;
}

tbody img{
    max-width: 1em;
    max-height: 1em;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    transition: all 0.3s ease-in;
}
 
tbody img:hover{
    background-color: white;
    box-shadow: 1px 1px 4px 1px rgba(30, 30, 30, 0.2);
}

thead, tbody, tr{
    padding: 0;
    margin: 0;
}

thead{
    font-weight: bold;
}

thead td{
    padding: 1em;
}

td{
    margin: 0;
}

td:nth-child(1){
    width: 10%;
}

td:nth-child(2){
    width: 30%;
}

tbody tr{
    opacity: 0.7    ;
    transition: all 0.5s ease;
}

tbody tr.selected{
    opacity: 1;
    box-shadow: 1px 1px 4px 1px rgba(30, 30, 30, 0.2);
}

tr.selected .mark::after{
    content: "►";
}

td:nth-child(3){
    background-color: rgba(0, 255, 30, 0.5);
    width: 20%;
}

td:nth-child(4){
    background-color: rgba(0, 119, 255, 0.5);
    width: 20%;
}

td:nth-child(5){
    background-color: rgba(255, 30, 0, 0.5);
    width: 20%;
}