@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Mono&display=swap');

body{
    background-color: white;
    color: #222;
    font-family: 'Merriweather', serif;
    margin: 0;
    width: 100%;
    padding-bottom: 3em;
    line-height: 1.8em;
    overflow-x: hidden;
}

input{
    font-size: 0.7cm;
    font-family: 'Merriweather', serif;
    outline: none;
    padding: 0.5em;
    border: 1px solid #07F;
    border-radius: 0.5em;
    margin-top: 1em;
}

h1{
    font-size: 1cm;
    line-height: 1.2em;
    margin-bottom: 0.2em;
}

header h1{
    display: inline-block;
    cursor: default;
    margin-top: 0;
    vertical-align: middle;
    margin-left: -2.5cm;
}

header em{
    font-size: 0.45cm;
    vertical-align: middle;
    display: inline-block;
}

header{
    display:block;
    text-align: center;
    background-color: rgb(30, 30, 30);
    padding: 1em;
    margin: 0;
    width: 100%;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

button.inline{
    margin-top: 0;
    margin-bottom: 0;
}

button{
    font-size: 0.5cm;
    color: #07F;
    background-color: white;
    border: 1px solid #07F;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin: 0.25em;
    margin: 0.25em 0 0.25em 0
}

button:hover, button.clicked{
    color: white;
    background-color: #07F;
    box-shadow: 2px 2px 8px 0.1em rgba(30, 30, 30, 0.2);
}

button.big{
    font-size: 1cm;
    margin: 1em 0 1em 0;
}

div{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    color: #07F;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #222;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 0.4cm;
    transition: all 0.3s ease;
}

footer:hover{
    padding: 1em 0 1em 0;
    font-size: 0.45cm;
}

footer > p{
    margin: 0;
}

a{
    color: #07F;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover{
    text-decoration: underline;
}

.container{
    margin: 30px;
    text-align: center;
    font-size: 0.5cm;
    margin-left: 80px;
    margin-right: 80px;
}

.hotkey{
    font-style: normal;
    color: white;
    font-family: monospace;
    background-color: grey;
    border-radius: 4px;
    padding: 8px;
    padding-left: .75em;
    padding-right: .75em;
    text-transform: uppercase;
    border: 2px solid grey;
    border-bottom-color: #333;
    border-right-color: #333;
    border-left-color: lightgray;
    border-top-color: lightgray;
}

/**
Table layout stuff
**/
table{
    width: 100%;
    padding: 0;
    margin: 0.5em 0 0 0;
    border-collapse: collapse;
    box-shadow: 2px 2px 8px 0px rgba(30, 30, 30, 0.2);
    text-align: center;
    vertical-align: middle;
}

thead img{
    max-width: 0.8cm;
    max-height: 0.8cm;
    display: inline-block;
    vertical-align: middle;
}

tbody img{
    max-width: 0.5em;
    max-height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
 
tbody img:hover{
    background-color: white;
    box-shadow: 1px 1px 4px 1px rgba(30, 30, 30, 0.2);
}

thead, tbody, tr{
    padding: 0;
    margin: 0;
}

thead{
    font-weight: bold;
}

thead td{
    padding: 0.5em;
}

td{
    margin: 0;
}

td:nth-child(1){
    width: 10%;
}

td:nth-child(2){
    width: 30%;
}

tbody tr{
    opacity: 0.7    ;
    transition: all 0.5s ease;
}

tbody tr.selected{
    opacity: 1;
    box-shadow: 1px 1px 4px 1px rgba(30, 30, 30, 0.2);
}

tr.selected .mark::after{
    content: "►";
}

td:nth-child(3){
    background-color: rgba(0, 255, 30, 0.5);
    width: 20%;
}

td:nth-child(4){
    background-color: rgba(0, 119, 255, 0.5);
    width: 20%;
}

td:nth-child(5){
    background-color: rgba(255, 30, 0, 0.5);
    width: 20%;
}

.spinner {
    display: inline-block;
    width: 50vh;
    height: 50vh;
}

.spinner:after {
    content: " ";
    display: block;
    margin: auto;
    margin-top: -25vh;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #07F transparent #07F transparent;
    animation: spinner 3s linear infinite;
}

.stiller{
    color: #07F;
    font-size: 1cm;
    margin-top: 25vh;
    animation: grower 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes grower {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
    }
}

#backButton{
    vertical-align: middle;
    max-height: 1.2cm;
    font-size: 0.35cm;
}

#backButtonHolder{
    float:left;
    vertical-align: middle;
}

.hidden{
    opacity: 0;
}

#feedback{
    color: #555;
    padding: 1em;
    transition: opacity 0.5s ease;
}

#feedback .warning{
    color: #C00;
}

.monsterName{
    text-transform: capitalize;
}